:root {
  --primary-color: #ff7e57;
  --background-color: #0d0f16;
  --text-color: #1a1a1a;
  --main-background: #21283094;
}

body {
  margin: 0;
  padding: 5px 20px;
  font-family: "Inter", sans-serif;
  background-color: #0d0f16;
  /* background: linear-gradient(120deg, #0b0f1a 0%, #1e2844 100%); */
  background-image: url(./assets/heroBG.jpg);
  background-size: cover;
  background-position: center;
  color: #f5f8fd;
  overflow-x: hidden;
}
.section {
  height: calc(100vh - 55px);
  margin-top: 45px;
  padding-bottom: 20px;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-color: #eeeeee00;
  scrollbar-arrow-color: #ff6702;
}
.section::-webkit-scrollbar {
  display: none;
}
.home {
  height: calc(100vh - 55px);
  margin-top: 45px;
  padding-bottom: 20px;
}
/* .home-blury-bg {
  position: absolute;
  top: 40%;
  right: -10%;
  width: 250px;
  height: 250px;
  background-color: #367ac7;
  border-radius: 50%;
  filter: blur(30px);
} */

.home-container {
  height: 100%;
  display: grid;
  box-sizing: border-box;
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent; 
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  h1 {
    font-family: "BBH Sans Bartle", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: clamp(1rem, 6vw, 9rem);
    word-break: break-word;
    line-height: 95%;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
  }
  p.subtitle {
    /* font-weight: lighter; */
    font-family: "Saira", sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    color: #c1c1c1;
    overflow: hidden;
    width: 50%;
    font-size: 1rem;
  }
  .home-CTA-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 20px;
    width: 40%;
    height: 45px;
    margin-bottom: 20px;
    .shop {
      background-color: var(--primary-color);
      border: none;
      padding: 0px 50px;
      border-radius: 5px;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
      grid-column: span 2;
    }
    .shop:hover {
      background-color: #ff6f3d;
      box-shadow: 0px 0px 15px #ff6702;
    }
    .shop:active {
      transform: scale(0.95);
    }
    .discover {
      background-color: transparent;
      border: solid 2px var(--primary-color);
      border-radius: 5px;
      color: aliceblue;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
      grid-column: span 3;
      padding: 0px 50px;
    }
    .discover:hover {
      background-color: #3f3c3c56;
      box-shadow: 0px 0px 10px #ff6702;
    }
    .discover:active {
      transform: scale(0.95);
    }
  }
  .title-switched-word {
    margin: 0%;
    margin-bottom: 20px;
    color: var(--primary-color);
    overflow: hidden;
  }
  .home-off-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    .home-off-textHolder {
      grid-row: span 1;
      display: grid;
      grid-template-columns: repeat(2, auto);
      height: fit-content;
      .home-off-countdown {
        text-align: right;
      }
      .home-off-title {
        margin-top: 0%;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Saira", sans-serif;
        margin-bottom: 0%;
        .home-off-deal {
          color: var(--primary-color);
          font-size: 1.7rem;
          font-weight: 700;
          font-family: "Shadows Into Light Two", cursive;
          letter-spacing: 2px;
        }
      }
      .home-off-subtitle {
        font-size: 0.9rem;
        color: #c1c1c1;
        margin-top: 0%;
        font-family: "Saira", sans-serif;
      }
      .home-off-countdown {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary-color);
        font-family: "Saira", sans-serif;
        letter-spacing: 2px;
      }
    }
    .home-off-grid {
      width: 100%;
      grid-row: span 2;
      display: flex;
      gap: 20px;
      .home-off-card {
        background-color: #13161f83;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        width: 100%;
      }
    }
  }
}
.navbar {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 20px;
  left: 20px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-size: 0.8rem;
  padding: 10px 25px;
  margin: 10px 20pxpx;
  border-radius: 10px;
  background-color: #21283083;
  /* background: transparent; */
  /* ------adjust-bg------- */
  a {
    text-decoration: none;
  }
  .logo {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    color: var(--primary-color);
  }
  .nav-btns-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;

    .nav-btn {
      cursor: pointer;
      color: aliceblue;
      border: none;
      background-color: transparent;
      transition: all 0.2s ease;
      width: fit-content;
    }
    .nav-btn:hover {
      color: var(--primary-color);
    }
    .nav-btn:active {
      transform: scale(0.9);
    }
    .nav-btn:focus {
      color: var(--primary-color);
    }
  }
  svg {
    width: 15px;
    height: 15px;
    fill: aliceblue;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  svg:hover {
    fill: var(--primary-color);
  }
  svg:active {
    transform: scale(0.9);
  }
  svg:focus {
    fill: var(--primary-color);
  }
}
.nav-btn.active {
  color: var(--primary-color);
}
.collections-container {
  height: calc(100vh - 0px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  /* background: transparent; */
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow: hidden;
}
.products-container {
  height: calc(100vh - 0px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  /* background: transparent; */
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow: hidden;
}
.topSales-container {
  height: calc(100vh - 0px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  /* background: transparent; */
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow: hidden;
}
.about-container {
  height: calc(100vh - 0px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  /* background: transparent; */
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-toggle{
  display:none;
}
@media (max-width: 600px) {
  .home-container {
    h1 {
      font-size: clamp(1rem, 10vw, 7rem);
    }
    p.subtitle {
      width: 100%;
      font-size: 0.9rem;
    }
    .home-CTA-container {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
      .shop {
        grid-column: span 2;
        padding: 5px 20px;
      }
      .discover {
        grid-column: span 2;
        padding: 5px 20px;
      }
    }
    .home-off-container {
      .home-off-textHolder {
        grid-template-columns: repeat(1, auto);
        text-align: center;
        .home-off-title {
          font-size: 1.2rem;
        }
        .home-off-countdown {
          text-align: center;
          margin-top: 10px;
        }
      }
      .home-off-grid {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .home-off-card {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .navbar{

    .nav-toggle{
      display:block;
    }
    .nav-btns-container{
      justify-self: right;
      background-color: #101524;
      width: 40%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: end;
      transform: translateY(40%) translateX(10%);
      gap: 5px;
      box-shadow: 0px 5px 10px #363846bd;
      .nav-btn {
        text-decoration: none;
        padding: 5px 10px;
      }
    }
  }
}
