:root {
  --primary-color: #009e6f;
  --hoverBG: #00bb83;
  --shadowColor: #03dd9c;
  --background-color: #0d0f16;
  --text-color: #1a1a1a;
  --main-background: #21283094;
  --error: rgb(211, 67, 23);
  --errorHover: rgb(228, 81, 36);
}
a:-webkit-any-link {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 5px 20px;
  font-family: "Inter", sans-serif;
  background-color: #0d0f16;
  /* background: linear-gradient(120deg, #0b0f1a 0%, #1e2844 100%); */
  background-image: url(./assets/heroBG.jpg);
  background-size: cover;
  background-position: center;
  color: #f5f8fd;
  overflow-x: hidden;
}
.section {
  height: calc(100vh - 55px);
  margin-top: 45px;
  padding-bottom: 20px;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-color: #eeeeee00;
}
.section::-webkit-scrollbar {
  display: none;
}
.home {
  height: calc(100vh - 55px);
  margin-top: 45px;
  padding-bottom: 20px;
}
/* .home-blury-bg {
  position: absolute;
  top: 40%;
  right: -10%;
  width: 250px;
  height: 250px;
  background-color: #367ac7;
  border-radius: 50%;
  filter: blur(30px);
} */

.home-container {
  height: 100%;
  display: grid;
  box-sizing: border-box;
  border: solid 1px #3f3c3c;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent;
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  h1 {
    font-family: "BBH Sans Bartle", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: clamp(1rem, 6vw, 9rem);
    word-break: break-word;
    line-height: 95%;
    margin: 20px 0px 0px 0px;
    text-align: left;
    overflow: hidden;
  }
  p.subtitle {
    /* font-weight: lighter; */
    font-family: "Saira", sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    color: #c1c1c1;
    overflow: hidden;
    width: 50%;
    font-size: 1rem;
  }
  .home-CTA-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 20px;
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    a {
      text-wrap: nowrap;
      height: fit-content;
    }
    .shop {
      background-color: var(--primary-color);
      border: none;
      padding: 10px 50px;
      border-radius: 5px;
      color: white;
      /* font-size: 1rem; */
      font-weight: 800;
      cursor: pointer;
      transition: all 0.2s ease;
      grid-column: span 2;
      text-transform: uppercase;
    }
    .shop:hover {
      background-color: var(--hoverBG);
      box-shadow: 0px 0px 15px var(--shadowColor);
    }
    .shop:active {
      transform: scale(0.95);
    }

    .discover {
      background-color: transparent;
      border: solid 2px var(--primary-color);
      border-radius: 5px;
      color: aliceblue;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s ease;
      grid-column: span 3;
      padding: 10px 50px;
      text-transform: capitalize;
    }
    .discover:hover {
      background-color: #3f3c3c56;
      box-shadow: 0px 0px 10px var(--shadowColor);
    }
    .discover:active {
      transform: scale(0.95);
    }
  }
  .title-switched-word {
    margin: 0%;
    margin-bottom: 20px;
    color: var(--primary-color);
    overflow: hidden;
  }
  .home-off-container {
    display: grid;
    .home-off-textHolder {
      grid-row: span 1;
      display: grid;
      grid-template-columns: repeat(2, auto);
      height: fit-content;
      .home-off-countdown {
        text-align: right;
      }
      .home-off-title {
        margin-top: 0%;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Saira", sans-serif;
        margin-bottom: 0%;
        .home-off-deal {
          color: var(--primary-color);
          text-shadow: 2px 2px 5px var(--shadowColor);
          font-size: 1.7rem;
          font-weight: 700;
          font-family: "Shadows Into Light Two", cursive;
          letter-spacing: 2px;

          animation: HomeOffreAnimation 2s infinite ease;
        }
      }
      .home-off-subtitle {
        font-size: 0.9rem;
        color: #c1c1c1;
        margin-top: 0%;
        font-family: "Saira", sans-serif;
      }
      .home-off-countdown {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary-color);
        font-family: "Saira", sans-serif;
        letter-spacing: 2px;
      }
    }
    .home-off-grid {
      width: 100%;
      grid-row: span 2;
      display: flex;
      gap: 20px;
      justify-content: center;
      .product-card {
        animation: HomeCardAnimation 2s infinite ease;
      }
    }
  }
}
.navbar {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 20px;
  left: 20px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-size: 0.8rem;
  padding: 10px 25px;
  margin: 10px 20pxpx;
  border-radius: 10px;
  background-color: #21283083;
  background: transparent;
  /* ------adjust-bg------- */
  .nav-icons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    column-gap: 10px;
    .nav-toggle-btn {
      display: none;
    }
    .loginBtn {
      background-color: var(--primary-color);
      color: aliceblue;
      border: none;
      outline: none;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 0.8rem;
      padding: 2px 15px 4px 15px;
      cursor: pointer;
      transition: all ease 0.1s;
    }
    .loginBtn:hover {
      background-color: var(--hoverBG);
    }
    .loginBtn:active {
      transform: scale(0.9);
    }
  }
  a {
    text-decoration: none;
  }
  .logo {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    color: var(--primary-color);
  }
  .nav-btns-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;

    .nav-btn {
      cursor: pointer;
      color: aliceblue;
      border: none;
      background-color: transparent;
      transition: all 0.2s ease;
      width: fit-content;
    }
    .nav-btn:hover {
      color: var(--primary-color);
    }
    .nav-btn:active {
      transform: scale(0.9);
    }
    .nav-btn:focus {
      color: var(--primary-color);
    }
  }
  .incart_Counter {
    font-size: 0.6rem;
    transform: translate(12px, -8px);
    background-color: var(--primary-color);
    padding: 2px 4px;
    text-align: center;
    border-radius: 15px;
    background-color: #0d0f16;
  }
  svg {
    width: 15px;
    height: 15px;
    fill: aliceblue;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  svg:hover {
    fill: var(--primary-color);
  }
  svg:active {
    transform: scale(0.9);
  }
  svg:focus {
    fill: var(--primary-color);
  }
  .nav-toggle {
    display: none;
  }
}
.nav-btn.active {
  color: var(--primary-color);
}
.collections-container::-webkit-scrollbar {
  display: none;
}
.collections-container {
  height: calc(100vh - 80px);
  border: solid 1px #3f3c3c;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent;
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow-x: hidden;
  .section-title {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Saira", sans-serif;
  }
  .section-subtitle {
    margin-top: 0%;
    color: #c1c1c1;
  }
  .collections-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    height: 70%;
    box-sizing: border-box;
    .oneCollection {
      background-color: var(--main-background);
      border-radius: 10px;
      box-sizing: border-box;
      text-align: center;
      height: 350px;
      padding: 10px;
      display: grid;
      text-align: center;
      align-content: center;
      justify-items: center;
      svg {
        height: 50px;
        width: 50px;
        fill: var(--primary-color);
      }
      .oneCollection-title {
        margin: 0%;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 15px;
      }
      .oneCollection-description {
        font-size: 0.8rem;
        width: 80%;
      }
      button {
        padding: 5px 0px;
        height: 30px;
        width: 150px;
        background-color: var(--hoverBG);
        border: none;
        outline: none;
        transition: all ease-in-out 0.2s;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
      }
      button:hover {
        background-color: var(--hoverBG);
        box-shadow: 0px 0px 15px var(--shadowColor);
      }
      button:active {
        transform: scale(0.9);
      }
    }
  }
}
.products-container::-webkit-scrollbar {
  display: none;
}
.products-container {
  height: calc(100vh - 0px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  /* background: transparent; */
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow-x: hidden;
  .products-section-banner {
    min-height: 20vh;
    max-height: 30vh;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #303a378c;
    display: grid;
    align-content: center;
    justify-items: center;
    box-sizing: border-box;
    .section-title {
      color: aliceblue;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Saira", sans-serif;
    }

    .section-subtitle {
      margin-top: 0%;
      color: #c1c1c1;
    }
    .products-search-container {
      height: 100%;
      width: 100%;
      input {
        width: 50%;
        height: 100%;
        background: transparent;
        color: aliceblue;
        padding: 5px 5px;
        margin-right: 10px;
        transition: all ease-in-out 0.1s;
        outline: none;
        border: solid 2px transparent;
        box-sizing: border-box;
        background-color: #000000b7;
      }
      input:focus {
        outline: none;
        border: none;
        border: solid 2px var(--primary-color);
      }
      button {
        height: 100%;
        background-color: var(--primary-color);
        color: white;
        border-radius: 5px;
        box-sizing: border-box;
        border: none;
        cursor: pointer;
        padding: 0px 10px;
        transition: all ease 0.1s;
      }
      button:hover {
        background-color: var(--hoverBG);
        box-shadow: 0px 0px 5px var(--shadowColor);
      }
      button:active {
        transform: scale(0.9);
      }
    }
  }
  .products-grid {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
.topSales-container::-webkit-scrollbar {
  display: none;
}
.topSales-container {
  height: calc(100vh - 0px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent;
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
  .subsection {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: space-evenly;
    height: 500px;
    width: 100%;
    padding: 30px 100px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: var(--main-background);
    .title {
      color: aliceblue;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Saira", sans-serif;
    }
    .subtitle {
      margin-top: 0%;
      color: #c1c1c1;
    }
    .subsection-cards {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      overflow-x: scroll;
    }
    .subsection-cards::-webkit-scrollbar {
      height: 10px;
      background-color: transparent;
    }
    .subsection-cards::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      cursor: pointer;
      border-radius: 10px;
    }
  }
  .TopRated-container {
    height: fit-content;
    padding: 50px 20px;
    box-sizing: border-box;
    .subsection-cards {
      overflow-x: hidden;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      padding: 30px 0px;
      box-sizing: border-box;
      .product-card {
        transition: all ease 0.3s;
        width: 250px;
      }
      .product-card:hover {
        box-shadow: 0px 0px 10px var(--shadowColor);
      }
    }
  }
  .BestSellers-container {
    padding: 30px 50px;
    margin-top: 0px;
    .carousel-swip-msg {
      display: none;
    }
    .subsection-carousel-container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      column-gap: 50px;

      .subsection-cards::-webkit-scrollbar {
        height: 20px;
      }
      .arrow {
        height: 20px;
        fill: aliceblue;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        transition: all ease 0.2s;
      }
      .arrow:hover {
        background-color: #323646;
        fill: var(--primary-color);
      }
      .arrow:active {
        transform: scale(0.9);
      }
      .subsection-cards::-webkit-scrollbar-button {
        display: none;
      }
      .subsection-cards::-webkit-scrollbar-thumb {
        background-color: red;
        display: none;
      }
    }
  }
}
.about-container::-webkit-scrollbar {
  display: none;
}
.about-container {
  height: calc(100vh - 70px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent;
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
  .about-container-content {
    width: 100%;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--main-background);
    .section-title {
      color: aliceblue;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Saira", sans-serif;
    }
    p {
      font-family: "Inter", sans-serif;
      margin-bottom: 70px;
      font-size: clamp(0.8rem, 1.3vw, 1.3rem);
      word-spacing: 2px;
      line-height: 22px;
    }
  }
}
.account-container {
  height: calc(100vh - 70px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent;
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;

  .account-container-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--main-background);
    /* background: transparent; */

    .section-title {
      margin: 0px;
      color: aliceblue;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Saira", sans-serif;
    }
  }
}
.cart-container {
  height: calc(100vh - 90px);
  border: solid 1px #3f3c3c;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  background: transparent;
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  .cart-container-content::-webkit-scrollbar {
    display: none;
  }
  .cart-container-content {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--main-background);
    /* background: transparent; */

    .section-title {
      text-align: center;
      margin: 0px;
      color: aliceblue;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Saira", sans-serif;
    }
    .section-subtitle {
      font-size: 0.9rem;
      color: #c1c1c1;
      margin: 0%;
      margin-bottom: 20px;
      text-align: center;
      font-family: "Saira", sans-serif;
    }
    .inCart-container {
      display: grid;
      justify-items: center;
      /* grid-template-rows: repeat(2, auto); */
      width: 100%;
      min-height: calc(100% - 100px);
      max-height: calc(100% - 10px);
      box-sizing: border-box;

      .inCart-cards-container::-webkit-scrollbar {
        display: none;
      }
      .inCart-cards-container::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 15px;
        display: none;
      }
      .inCart-cards-container {
        background-color: rgb(24, 11, 11);
        background-color: transparent;
        box-sizing: border-box;
        height: 400px;
        width: 100%;
        text-align: center;
        display: grid;
        justify-content: center;
        gap: 10px;
        overflow-y: scroll;
        overflow-x: visible;
        padding: 10px;
        margin-bottom: 10px;
        p {
          margin: auto;
        }
        .product-card {
          background-color: #1a2033;
          height: fit-content;
          min-width: 300px;
          max-width: 400px;
          display: grid;
          grid-template-columns: repeat(2, auto);
          column-gap: 10px;
          .card-infos {
            height: 100%;
            width: 100%;
            align-content: space-around;
          }
          .card-img {
            aspect-ratio: 1 / 1;
            grid-row: span 1;
            overflow: hidden;
            height: 120px;
          }
        }
      }
      .inCart-text-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 120px;
        padding: 20px 0px;
        font-family: "Inter", sans-serif;
        border-top: solid 3px var(--primary-color);
        .inCart-text-container-left {
          text-align: left;
          word-break: keep-all;
          #incart-NEED_HELP {
            color: #c1c1c1;
          }
        }
        .inCart-text-container-right {
          text-align: right;
          button {
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            width: 150px;
            height: 30px;
            padding: 3px 5px;
            border: none;
            outline: none;
            color: aliceblue;
            transition: all ease 0.2s;
            background-color: var(--primary-color);
          }
          button:hover {
            background-color: var(--hoverBG);
          }
          button:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
.profile-container {
  height: calc(100vh - 80px);
  border: solid 1px #3f3c3c;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-background);
  /* background: transparent; */
  /* ------adjust-bg------- */
  color: aliceblue;
  box-sizing: border-box;
  overflow-x: hidden;
  .profile-container-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    .profile-container-left{
      overflow: hidden;
      border-radius: 5px;
      padding: 10px 20px;
      background-color: #303a378c;
      display: grid;
      grid-template-rows: repeat(5,1fr);
      width: fit-content;
      svg{
        height: 12px;
        width: 12px;
        fill: aliceblue;
        margin-right: 5px;
      }
      .profile-picture{
        margin-top: 10px;
        grid-row: span 1;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: var(--primary-color);
      }
      .profile-info{
        text-wrap-mode: wrap;
        padding-top: 20px;
        grid-row: span 3;
        /* border: solid red; */
        div{
          font-size: 0.8rem;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin-bottom: 10px;
        }
      }
      .profile-logout{
        /* border: solid green; */
        display: grid;
        align-items: end;
        button{
          background-color: var(--error) ;
          color: aliceblue;
          outline: none;
          border: none;
          border-radius: 5px;
          padding: 5px;
          margin-bottom: -20px;
          cursor: pointer;
        }
        button:hover{
          background-color: var(--errorHover);
        }
        button:active{
          transform: scale(0.9);
        }
        span{
          text-align: center;
          text-align: center;
          font-size: 0.6rem;
          font-weight: 200;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      }
    }
    .profile-container-right{
      width: 100%;
      grid-column: span 2;
    }
  }
}
@media (max-width: 700px) {
  body {
    padding: 5px 5px;
  }
  .home-container {
    h1 {
      font-size: clamp(1rem, 10vw, 7rem);
    }
    p.subtitle {
      width: 100%;
      font-size: 0.9rem;
    }
    .home-CTA-container {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
      .shop {
        grid-column: span 2;
        padding: 5px 20px;
      }
      .discover {
        grid-column: span 2;
        padding: 5px 20px;
      }
    }
    .home-off-container {
      .home-off-textHolder {
        grid-template-columns: repeat(1, auto);
        text-align: center;
        .home-off-title {
          font-size: 1.2rem;
        }
        .home-off-countdown {
          text-align: center;
          margin-top: 10px;
        }
      }
      .home-off-grid {
        margin-top: 10px;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .navbar {
    padding: 10px 0px;
    .nav-toggle {
      display: block;
    }
    .nav-btns-container {
      justify-self: right;
      background-color: #101524;
      width: 40%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: end;
      transform: translateY(40%) translateX(10%);
      gap: 5px;
      box-shadow: 0px 5px 10px #363846bd;
      .nav-btn {
        text-decoration: none;
        padding: 5px 10px;
      }
    }
    .nav-icons-container {
      grid-template-columns: repeat(5, auto);
      .nav-toggle-btn {
        display: block;
      }
    }
  }
  .collections-container {
    .collections-grid-container {
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 30px;
      .oneCollection {
        .oneCollection-title {
          margin-top: 20px;
        }
      }
    }
  }
  .topSales-container {
    padding: 10px 10px;
    .subsection {
      padding: 30px 30px;
    }
    .BestSellers-container {
      .subsection-carousel-container {
        column-gap: 10px;
      }
      .carousel-swip-msg {
        display: block;
        font-size: 0.7rem;
        color: #c1c1c1;
        margin-top: 0%;
        font-family: "Saira", sans-serif;
      }
    }
  }
  .topSales-container {
    .BestSellers-container {
      grid-template-rows: repeat(3, auto);
      .subsection-carousel-container {
        .arrow {
          display: none;
        }
      }
    }
  }
  .cart-container {
    padding: 10px 10px;
    .cart-container-content {
      padding: 10px;
      .inCart-container {
        .inCart-cards-container {
          .product-card {
            height: fit-content;
            .card-img {
              height: 90px;
            }
          }
        }
      }
    }
  }
}
@keyframes HomeCardAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes HomeOffreAnimation {
  0% {
    text-shadow: 5px 5px 5px 5px var(--shadowColor);
  }

  50% {
    text-shadow: 0px 0px 15px var(--shadowColor);
  }

  100% {
    text-shadow: 5px 5px 5px 5px var(--shadowColor);
  }
}
