form,
.loginForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  max-width: 50%;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--main-background);
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: stretch;
  .inputANDlabel-container {
    margin-bottom: 15px;
  }
  /* border: solid red; */
  .section-title {
    font-size: 1.7rem;
    font-family: "Saira", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 50px;
  }

  input {
    height: 30px;
    background: #242731;
    color: aliceblue;
    outline: none;
    border: none;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all ease 0.05s;
  }
  input:focus {
    background: #242630;
    border: 2px solid var(--primary-color);
  }
  .main-btn {
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    row-gap: 10px;
    .login-options {
      color: #c1c1c1;
      font-size: 0.7rem;
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      .keep-logged-container {
        display: flex;
        align-items: center;
        .terms {
          color: aliceblue;
          text-decoration: underline;
        }
        span {
          font-size: clamp(0.6rem, 0.6rem, 0.7rem);
        }
      }
      input {
        height: 10px;
      }
      .forget-pswd {
        text-align: right;
        height: 100%;
        font-size: clamp(0.5rem, 0.6rem, 0.7rem);
        color: #c1c1c1;
        .reset {
          color: var(--primary-color);
          text-decoration: underline;
          font-size: 0.7rem;
        }
      }
    }
    .dont-have-account {
      font-size: clamp(0.5rem, 0.7rem, 0.7rem);
      color: #c1c1c1;
      .reset {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
  button {
    height: 30px;
    width: 100%;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: auto;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  button:hover {
    background-color: var(--hoverBG);
  }
  button:active {
    transform: scale(0.98);
  }
  .inputANDlabel-container {
    display: grid;
    height: 70px;
    label {
      height: fit-content;
      font-size: 1rem;
    }
  }
  .other-choice {
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    row-gap: 10px;
    /* border-top: solid 3px var(--primary-color); */
    span {
      color: #c1c1c1;
      font-size: 0.7rem;
      text-align: center;
    }

    .form-btn {
      justify-self: center;
    }
  }
  .with-socialmedia-container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    .svg-container {
      margin: 20px 0px 5px 0px;
      /* border: solid var(--primary-color); */
    }
    span {
      color: #c1c1c1;
      font-size: 0.7rem;
      text-align: center;
    }
    svg {
      margin-top: 10px;
      height: 25px;
      width: 25px;
      fill: aliceblue;
      margin: 5px;
    }
  }
}
